extends header
block content    
  head
    title Detailed Page
    style.
      body{
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      }
      .container {
      max-width: 70%;
      margin-left:1%;
      padding: 20px;
      box-sizing: border-box;
      }
      h1 {
      margin-top: 0;
      }
      .video {
      width: 100%;
      height: auto;
      }
      .buttons {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;
      }
      .buttons button {
      background-color: white;
      color: black;
      border: 2px solid black;
      padding: 10px 20px;
      margin-right: 10px;
      margin-bottom: 10px;
      cursor: pointer;
      }
      .buttons button:hover {
      background-color:whitesmoke;
      }
      .description {
      margin-bottom: 10px;
      }
      .comments {
      border: 1px solid #ccc;
      padding: 10px;
      margin-bottom: 10px;
      }
      .comments h3 {
      margin-top: 0;
      }
      .comments p {
      margin-top: 0;
      }
      .btn1{
      position: absolute;
      left: 50%;
      }
  .container
    img.video(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQj0Lr3YhepYTBKH5PqYu4BSSjrbZU2tx5Zxg&usqp=CAU')
    br
    h2 How To Make PERFECT LASAGNE in 7 Easy Steps
    .buttons
      button
        img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpbF9MRc872DyqrFDJJ3MRq68r08IaEKCNGzAqYNpeSK38HOao_E2_50CtB2V4TGM_5ag&usqp=CAU' width='22px')
        | &nbsp;Username
      .btn1
        button Like
        button Share
        button Save
    p.description
      | In this cooking video, I&apos;ll be sharing with you my recipe for a delicious and hearty lasagna. Layers of tender pasta, rich tomato sauce, and creamy cheese come together to create the ultimate comfort food.
      | To start, we&apos;ll need to prepare our tomato sauce. I like to use a combination of canned crushed tomatoes, garlic, onions, and a blend of Italian herbs. We&apos;ll let this simmer on the stove for about 30 minutes to allow the flavors to meld together...
    .comments
      h3 Comments
      p No comments yet.
      form
        h3 Add a Comment
        label(for='name') Name:
        br
        input#name(type='text' name='name')
        br
        label(for='comment') Comment:
        br
        textarea#comment(name='comment')
        br
        input(type='submit' value='Submit')