
extends header
block content 

  head
    title Detail Page
    style.
      /* CSS for the page layout */
      body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      }
      .container {
      max-width: 960px;
      margin: 0 auto;
      padding: 20px;
      }
      /* CSS for the search bar */
      .search-container {
      text-align: center;
      margin-bottom: 20px;
      }
      .search-input {
      width: 500px;
      height: 30px;
      padding: 5px;
      font-size: 16px;
      }
      .search-button {
      padding: 5px 10px;
      font-size: 16px;
      }
      /* CSS for the video player */
      .video-container {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
      }
      .main-container{
      border: 1px solid black;
      padding: 15px;
      }
      .video-container img {
      position: absolute;
      z-index:-1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      }
      /* CSS for the video actions */
      .video-actions {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-block:10px
      }
      .action-button {
      padding: 10px 15px;
      font-size: 16px;
      border: none;
      background-color: #f1f1f1;
      cursor: pointer;
      }
      .action-button:hover{
      background-color: rgb(219, 216, 216);
      }
      .comment-section {
      margin-top: 20px;
      }
      .comment-section textarea {
      width: 100%;
      height: 100px;
      padding: 5px;
      font-size: 16px;
      }
      .comment-section button {
      padding: 5px 10px;
      font-size: 16px;
      }
      .img_style{
        object-fit:cover
      }
      .recipe_name{
        margin-block:15px
      }
  .container
    .search-container
      input.search-input(type='text' placeholder='Search for videos...')
      button.search-button Search
    .main-container
      .video-container
        img(width='900px' src=data.recipe_image).img_style
      h2.recipe_name #{data.recipe_name}
      p #{data.recipe_description}
        .video-actions
        div
          button.action-button Like
          button.action-button Share
          button.action-button Subscribe
      // <button class="action-button">Comment</button>
    .comment-section
      textarea(placeholder='Write a comment...' rows='4')
      button.action-button Post Comment

