html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Cooking Recipe
    style.
      *{
      margin: 0;
      padding:0;
      }
      nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background-color: #333;
      color: #fff;
      position:sticky;
      top:0px

      }
      .logo img {
      height: 50px;
      width: auto;
      margin-left: 20%;
      border-radius:30px
      }
      .menu ul {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      }
      .menu li {
      margin: 0 20px;
      }
      .menu a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      }
      .user {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      margin-right: 5%;
      }
      .user img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      margin-right: 10px;
      }
      .a_tag{
        color:white
      }
    nav
      .logo
        a(href='#')
        img(src='https://image.similarpng.com/very-thumbnail/2021/06/Hand-drawn-chef-logo-in-white-and-black-color-on-transparent-background-PNG.png' alt='Logo')
      .menu
        ul
          li
            a(href='home') Home
          li
            a(href='#') Public Padlet
          li
            a(href='#') FAQ
      .user
        a(href='detail')
          img(src='https://w7.pngwing.com/pngs/19/480/png-transparent-cooking-chef-hand-painted-cook-logo-watercolor-painting-free-logo-design-template-hand.png' alt='User Image' style='cursor:pointer')
          span Usef Ali Khan
  block content